<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Node + EJS</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">EJS</a>
      </div>
    </nav>
  </header>

  <main>
    <div class="jumbotron">
      <div class="container">
        <h1>Node com EJS</h1>
        <p>Vamos aprender a trabalhar com EJS</p>
      </div>
    </div>
  </main>

  <footer>
    <p class="text-center text-muted">Feito por Calebe SG</p>
  </footer>
</body>
</html>